body {
    background-color: aliceblue;
    font-family: 'IM Fell English', serif;
    text-align: center;
}

#travel-diary {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 30%;
    text-align: center;
    border: 2px double rgb(141, 140, 140);
    border-radius: 15%;
    margin: 10px;
}

textarea {
    border: 5px solid white;
    border-radius: 20%;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-family: 'IM Fell English', serif;
    font-size: .95em;
}

.card-button {
    border-radius: 15%;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'IM Fell English', serif;
    font-size: 1em;
}